/* Navbar */
.navbar {
  background: linear-gradient(90deg, #040509 0%, #04060A 58%, #04090D 100%);
  backdrop-filter: blur(2px);
  box-shadow: none !important;
  border: none !important;
  padding: 0.5rem 1rem;
}

/* Brand */
.navbar .navbar-brand {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  margin-right: 2rem;
}

.navbar .navbar-brand:hover {  
     color:rgba(23, 111, 18, 0.9); /* 0.6 = 60% شفافية */
   font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-left: 1rem;
  transition: all 0.3s ease;
}
.navbar .nav-item .nav-link:hover {
    color:rgba(23, 111, 18, 0.9); /* 0.6 = 60% شفافية */
   font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-left: 1rem;
  transition: all 0.3s ease; /* حركة ناعمة */
  
  /* مسافة ثابتة بين الروابط */
}
/* Links */
.navbar .nav-item .nav-link {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  margin-left: 1rem;
}

/* Toggler */
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* ----------------------------------------------------------------------------------------------- */

/* الخلفية مع الصورة */
.fullscreen-background1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("https://raw.githubusercontent.com/laith988l/image/main/_MG_9270%20copy.jpg") center/cover no-repeat;
  z-index: -2;
}

/* طبقة ظل فوق الخلفية */
.fullscreen-background1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  scroll-behavior: smooth;
}

section {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px 21px;
}

/* خلفيات مختلفة لكل سكشن */
.hero {
  background: linear-gradient(90deg, #040509 0%, #04060A 58%, #04090D 100%);
  backdrop-filter: blur(2px);
}
.about { background: #222; color: white; }
.services { background: #f5f5f5; color: #333; }
.contact { background: #111; color: white; }

.Name {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-family:'Times New Roman', Times, serif
}
.description {
  font-size: 1.2rem;
  color: #ccc;
  max-width: 800px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#typewriter {
  border-right: 2px solid #f21313;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  min-width: 12ch;
  height: 1.2em;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}
nav .logo { color: white; font-size: 1.5rem; font-weight: bold; }
nav ul { list-style: none; display: flex; gap: 30px; }
nav ul li a { color: white; text-decoration: none; transition: 0.3s; }
nav ul li a:hover { color: #feca57; }

h1 { font-size: 2.5rem; margin-bottom: 20px; text-align: center;  color: wheat; }
p { max-width: 800px; text-align: center; font-size: 1.2rem; }

/* الخدمات (grid responsive) */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin-top: 30px;
}
.service {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* ريسبونسف للشاشات الصغيرة */
@media (max-width: 768px) {
  nav { padding: 15px 20px; }
  nav ul { gap: 15px; }
  .services-grid { grid-template-columns: 1fr; }
  h1 { font-size: 2rem; }
  p { font-size: 1rem; }
}

.about-resume {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 1000px;
}

.about-resume img {
  align-items: center;
  width: 300px;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.about-resume p {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about-resume {
    flex-direction: column;
    text-align: center;
  }
  .about-resume img {
    width: 100%;
  }
}

/* Resume Button */
.Resume-button {
  display: inline-block;
  width: clamp(150px, 30%, 300px);
  background: linear-gradient(45deg, #302f2f, #e9e8e8);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 15px #0f5132;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.Resume-button:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 8px 20px rgba(220, 216, 217, 0.6);
}

/* Container with boxes */
.container {
  display: flex;
  width: 103%;
  padding: -1% 2%;
  box-sizing: border-box;
  height: 80vh;
}
.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}
.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}
.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
.box a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
.box a img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: .5s;
}
.box a span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}
.box:hover a img {
  width: 100%;
  height: 100%;
}

img {
  max-inline-size: 100%;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #070707;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  min-block-size: 100svh;
  background: linear-gradient(90deg, #040509 0%, #04060A 58%, #04090D 100%);
  backdrop-filter: blur(2px);
  grid-template-columns:
    [sidebar-start]
    5rem
    [sidebar-end main-start]
    1fr
    [main-end];
}

h1 {
  margin-block-start: 1rem;
  font-size: 1.75rem;
  line-height: 1.5;
  margin-block-end: -2rem;
}

.sidebar {
  grid-column: sidebar;
  color: #fff;
  background-color: #1d1d29;
}
.logo {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  line-height: 1.5;
}
.main {
  grid-column: main;
  padding: 1.25rem;
}

/* ===================== */
/* Photo Gallery (صورتين جنب بعض فقط) */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

.gallery figure {
  container: figure / inline-size;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}

.gallery img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  grid-area: 1 / 1 / -1 / -1;
  transition: scale 1s ease-in-out;
}
.gallery figure:hover img {
  scale: 1.125;
}
.gallery figcaption {
  grid-area: 1 / 1 / -1 / -1;
  align-self: end;
  z-index: 1;
  padding: 3em 15% 1em 1em;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.3;
  background: linear-gradient(transparent 25%, rgb(0 0 0 / 0.75));
  display: none;
}
@container figure (width > 20rem) {
  .gallery figcaption {
    display: block;
  }
}
.gallery figcaption h3 {
  font-size: 1.0625rem;
}
.gallery figcaption p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ===================== */
/* Lightbox */
.lightbox {
  padding: 90px;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2000;
  flex-direction: column;
}


.lightbox.show {
  visibility: visible;
  opacity: 1;
}
.lightbox .lightbox-img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 12px;
}
.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}
.logoimg {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.main-button {
  text-decoration: none;
  text-align: center;
  width: 17rem;
  background: linear-gradient(45deg, #302f2f, #e9e8e8);
  color: #ffffff;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 255, 136, 0.3);
  position: relative;
  overflow: hidden;
  justify-items: center;
}
.main-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #F5DEB3, #f6e5c5, #faf0dd, #faf8f5);
  background-size: 400%;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50px;
  z-index: -1;
}
.main-button:hover {
  color: #6c6a6a;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 255, 136, 0.5);
}
.lightbox .main-button {
 
  position: relative; /* نلغي absolute */
  margin-top: 15px;
  display: inline-block;
  width: clamp(150px, 50%, 300px);
}
.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2001;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.lightbox .prev { left: 25px; }
.lightbox .next { right: 25px; }

.lightbox .prev:hover,
.lightbox .next:hover {
  background:#F5DEB3;
  box-shadow: 0 0 15px #F5DEB3;
}
.lightbox .prev:hover::before,
.lightbox .next:hover::before {
  border-color: #000;
}

.main-button:hover::before {
  opacity: 1;
  animation: gradientMove 3s linear infinite;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}
@media (max-width: 768px) {
  /* Stack lightbox elements */
  .lightbox {
    padding: 20px;
    flex-direction: column;
  }

  .lightbox .lightbox-img {
    max-width: 100%;
    max-height: 60vh;
  }

  .lightbox .main-button {
    width: 100%;
    max-width: 300px;
  }

  /* Gallery becomes 1 column */
  .gallery {
    grid-template-columns: 1fr;
  }

  /* Services grid already stacked */
  .services-grid {
    grid-template-columns: 1fr;
  }
}